body{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0c0c0c;
    color: #d8d8d8;
    flex-wrap: wrap;
    flex-direction: column;
}

.full-nav{
    margin: 0 auto;
    .header-block{
        display: flex;
        flex: 1;

        .name-title{
            font-weight: bolder;
            order: 1;
        }
    }

    .nav-bar{
        display: flex;
        flex: 1;
        ul{
            display: inline-flex;
            list-style-type: none;
            padding: 0;
            padding-top: 20px;
            li{
                
                a{
                    text-decoration: none;
                    color: #d8d8d8;
                    padding-left: 10px;

                }
            }
        }

    }
}

.projects{
    margin: 0 auto;
    text-align: center;
    
    .project1{
       
        .spacedesc{

            img{
                width: 480px;
                padding: 10px;
                margin: 10px;
                border: 1px solid rgb(255, 233, 67);
                border-radius: 4px;
                box-shadow: 0px 0px 4px rgb(255, 233, 67);
            }
        }
        .spacegif{
            
            img{
                width: 480px;
                padding: 10px;
                margin: 10px;
                border: 1px solid rgb(255, 233, 67);
                border-radius: 4px;
                box-shadow: 0px 0px 4px rgb(255, 233, 67);
            }
        }
    }
}

.training{
    margin: 0 auto;
    text-align: center;
    .trainingdesc{

        img{
            width: 480px;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(255, 233, 67);
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgb(255, 233, 67);

        }
    }

    .codegif{

        img{
            width: 480px;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(255, 233, 67);
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgb(255, 233, 67);

        }
    }
}

.about{
    margin: 0 auto;
    text-align: center;
    .aboutdesc{

        img{
            width: 480px;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(255, 233, 67);
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgb(255, 233, 67);

        }
    }

    .aboutmepic{

        img{
            width: 480px;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(255, 233, 67);
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgb(255, 233, 67);

        }
    }
}

.contact{
    margin: 0 auto;
    text-align: center;
    .contactmedesc{

        img{
            width: 480px;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(255, 233, 67);
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgb(255, 233, 67);

        }
    }

    .contactmepic{
        
        img{
            width: 480px;
            padding: 10px;
            padding-bottom: 50px;
            margin: 10px;

        }
    }
}

footer{
    top: 300px;
}
/** Typewriter effect for header. **/
.typewriter h1 {
    color: #d8d8d8;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid rgb(255, 233, 67);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 233, 67) }
  }
  
  /** Button. **/

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-size: 1.5rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
      }
  }
  
  .btn {
    text-decoration: none;
    border: 1px solid rgb(255, 233, 67);
    position: relative;
    overflow: hidden;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgb(255, 233, 67);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 233, 67, 0.445),
      transparent
    );
    transition: all 650ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }

/** Social media buttons.**/
 .socialbuttons{
    ul {
        position:relative;
        top: 100%;
        left:50%;
        transform:translate(-50%, -50%);
        display:flex;
        margin:0 auto;
        padding:30px;
      }
      
      ul li {
        list-style:none;
        margin:0 5px;
      }
      
      ul li a .fa {
        font-size: 40px;
        color: #262626;
        line-height:80px;
        transition: .5s;
        padding-right: 14px;
      }
      
      ul li a span {
        padding:0;
        margin:0;
        position:absolute;
        top: 30px;
        color: #262626;
        letter-spacing: 4px;
        transition: .5s;
      }
      
      ul li a {
        text-decoration: none;
        display:absolute;
        display:block;
        width:210px;
        height:80px;
        background: #fff;
        text-align:left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0,0);
        transition:.5s;
        box-shadow: -20px 20px 10px rgba(0,0,0,.5);
      }
      ul li a:before {
        content: '';
        position: absolute;
        top:10px;
        left:-20px;
        height:100%;
        width:20px;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewY(-45deg);
      }
      ul li a:after {
        content: '';
        position: absolute;
        bottom:-20px;
        left:-10px;
        height:20px;
        width:100%;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewX(-45deg);
      }
      
      ul li a:hover {
        transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
        box-shadow: -50px 50px 50px rgba(0,0,0,.5);
      }
      
      ul li:hover .fa {
        color:#fff;
      }
      
      ul li:hover span {
        color:#fff;
      }
      
      ul li:hover:nth-child(1) a{
        background: #b4a200;
      }
      ul li:hover:nth-child(1) a:before{
        background: #807300;
      }
      ul li:hover:nth-child(1) a:after{
        background: #fce941c4;
      }
      
      ul li:hover:nth-child(2) a{
        background: #00aced;
      }
      ul li:hover:nth-child(2) a:before{
        background: #097aa5;
      }
      ul li:hover:nth-child(2) a:after{
        background: #53b9e0;
      }
      
      ul li:hover:nth-child(3) a{
        background: #269126;
      }
      ul li:hover:nth-child(3) a:before{
        background: #67bd678c;
      }
      ul li:hover:nth-child(3) a:after{
        background: #91f191be;
      }
      
      ul li:hover:nth-child(4) a{
        background: #3b5998;
      }
      ul li:hover:nth-child(4) a:before{
        background: #365492;
      }
      ul li:hover:nth-child(4) a:after{
        background: #4a69ad;
      }
 }