@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #d8d8d8;
  margin: 0;
  padding: 0;
  background-color: #0C0C0C;
}

/** Fully responsive hero. **/
.hero-image {
  position: relative;
  height: 60vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(12, 12, 12, 0.85);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

.hero-image .container h1 {
  font-size: 36px;
  letter-spacing: 0.2em;
  margin: 0;
}

.hero-image .container h1 span {
  border: 10px solid #ffffff;
  padding: 6px 14px;
  display: inline-block;
}

.hero-image .container .des {
  margin: 20px;
  display: block;
  font-size: 20px;
  text-shadow: 0 0 10px black;
}

.hero-image .container .btn {
  color: #313131;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 8px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.hero-image .container .btn:hover {
  opacity: 0.8;
}

/** Fully responsive sticky nav bar. **/
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5%;
  height: 75px;
  background-color: #0c0c0c;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #d8d8d8;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links li a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #d8d8d8;
  text-decoration: none;
}

nav #nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #d8d8d8;
  margin: 5px;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav .icon-burger {
    display: block;
  }
}

nav :checked ~ .links {
  bottom: 0;
}

nav :checked ~ .icon-burger .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(225deg);
          transform: translateY(10px) rotate(225deg);
}

nav :checked ~ .icon-burger .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-225deg);
          transform: translateY(-10px) rotate(-225deg);
}

nav :checked ~ .icon-burger .line:nth-child(2) {
  opacity: 0;
}

/** Main content **/
.maincontent {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: .1fr 1fr .1fr;
      grid-template-columns: .1fr 1fr .1fr;
  -ms-grid-rows: .3fr .3fr .3fr .1fr;
      grid-template-rows: .3fr .3fr .3fr .1fr;
      grid-template-areas: "sidebar1 aboutbox sidebar2" "sidebar1 spaceart sidebar2" "sidebar1 finalproject sidebar2" "footer footer footer";
  grid-gap: 2.5em;
  margin: 0.5em;
  font-family: 'Poppins', sans-serif;
}

.maincontent .finalproject {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: finalproject;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  text-align: left;
}

.maincontent .finalproject h2 {
  font-size: 3em;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d8d8d8;
}

.maincontent .finalproject .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontent .sidebar1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar1;
}

.maincontent .sidebar2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: sidebar2;
}

.maincontent .spaceart {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: spaceart;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
}

.maincontent #aboutbox {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aboutbox;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
}

.maincontent footer {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr .1fr;
      grid-template-rows: 1fr 1fr .1fr;
      grid-template-areas: "links" "sitemap" "copyright";
  grid-gap: 0em;
  margin: 0em;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff00;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-align: center;
  color: white;
  padding: 0%;
}

.maincontent footer .footerr {
  margin: auto;
}

.maincontent footer #sitemap {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sitemap;
  margin: auto;
}

.maincontent footer #sitemap ul {
  text-align: center;
  padding-left: 0;
}

.maincontent footer #sitemap ul li {
  list-style: none;
}

.maincontent footer #sitemap ul li a {
  text-decoration: none;
  font-size: large;
  color: #cfcfcf;
  margin: auto;
}

#aboutbox {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .1fr 1fr 1fr;
      grid-template-rows: .1fr 1fr 1fr;
      grid-template-areas: "hello" "about2" "about3";
  grid-gap: auto;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

#aboutbox #hello {
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hello;
  font-size: 3em;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d8d8d8;
}

#aboutbox #about2 {
  font-size: 1em;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about2;
  text-align: left;
  color: #d8d8d8;
}

#aboutbox #about3 {
  margin: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about3;
  font-size: 20px;
  text-align: center;
}

.spaceart {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: spaceart;
}

.spaceart {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .1fr 1fr;
      grid-template-rows: .1fr 1fr;
      grid-template-areas: "spaceheader spaceheader spaceheader" "left middle right";
  grid-gap: 0.0001em;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.spaceart .spaceheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: spaceheader;
}

.spaceart .spaceheader h2 {
  font-size: 3em;
  text-align: center;
  color: #d8d8d8;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d8d8d8;
}

.spaceart .left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  padding: 10px;
}

.spaceart .middle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: middle;
  padding: 10px;
}

.spaceart .right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .maincontent {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .1fr .1fr .1fr .1fr;
        grid-template-rows: .1fr .1fr .1fr .1fr;
        grid-template-areas: "aboutbox" "spaceart" "finalproject" "footer";
    grid-gap: 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }
  .maincontent .finalproject {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: finalproject;
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    text-align: left;
  }
  .maincontent .finalproject h2 {
    font-size: 3em;
    text-align: left;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d8d8d8;
  }
  .maincontent .spaceart {
    display: none;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: spaceart;
  }
  .maincontent #aboutbox {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .1fr .1fr 1fr;
        grid-template-rows: .1fr .1fr 1fr;
        grid-template-areas: "hello" "about3" "about2";
    grid-gap: 0.5em;
    margin: 0.5em;
    font-family: 'Poppins', sans-serif;
  }
  .maincontent #aboutbox #hello {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hello;
    font-size: 60px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d8d8d8;
  }
  .maincontent #aboutbox #about2 {
    font-size: 16px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: about2;
    text-align: center;
    background: rgba(255, 255, 255, 0.034);
    -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.11);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.329);
  }
  .maincontent #aboutbox #about3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: about3;
    font-size: 20px;
    padding: 15px;
  }
  .maincontent .spaceart {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .1fr .1fr .1fr .1fr;
        grid-template-rows: .1fr .1fr .1fr .1fr;
        grid-template-areas: "spaceheader" "left" "middle" "right";
    grid-gap: 0.0001em;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }
  .maincontent .spaceart .spaceheader {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: spaceheader;
  }
  .maincontent .spaceart .spaceheader h2 {
    font-size: 40px;
    text-align: center;
  }
  .maincontent .spaceart .left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .maincontent .spaceart .middle {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: middle;
  }
  .maincontent .spaceart .right {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: right;
  }
  .maincontent footer {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr .1fr;
        grid-template-rows: 1fr 1fr .1fr;
        grid-template-areas: "links" "sitemap" "copyright";
    grid-gap: 0em;
    margin: 0em;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff00;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
    text-align: center;
    color: white;
    padding: 0%;
  }
  .maincontent footer .footerr {
    margin: auto;
  }
  .maincontent footer #sitemap {
    text-align: center;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sitemap;
    margin: auto;
  }
  .maincontent footer #sitemap ul {
    text-align: center;
    padding-left: 0;
  }
  .maincontent footer #sitemap ul li {
    list-style: none;
  }
  .maincontent footer #sitemap ul li a {
    text-decoration: none;
    font-size: large;
    color: #cfcfcf;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */